.about {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 139px;
    padding-bottom: 121px;
  }
}

.about-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    min-width: 330px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    margin-right: 64px;
    flex-shrink: 0;
  }
}

.about-list__item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.about__pre-title {
  color: var(--third-text-color);
  margin-bottom: 20px;
  &::before {
    background: #303030;
  }
}

.about__title {
  color: var(--second-title-color);
  margin-bottom: 20px;
  max-width: 330px;
  @media screen and (min-width: 1200px) {
    max-width: 483px;
  }
}

.about__after-title {
  color: var(--fourth-text-color);
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  margin-bottom: 40px;
}

.about__btn {
  color: var(--second-button-color);
}
