.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about__pre-title {
  color: var(--third-text-color);
  margin-bottom: 20px;
  &::before {
    background: #303030;
  }
}

.about__title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about__after-title {
  color: var(--fourth-text-color);
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  margin-bottom: 40px;
}

.about__btn {
  color: var(--second-button-color);
}
