.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-conteiner {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  @media screen and (min-width: 768px) {
    margin-right: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.logo__icon {
  fill: #ffffff;
  @media screen and (min-width: 768px) {
    fill: #303030;
  }
}

.header-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header-list__item {
  @media screen and (min-width: 768px) {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.header-list__link {
  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    position: relative;
    transition: color 300ms linear;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header-connect {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.header-connect__tel {
  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    transition: color 300ms linear;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.header-connect__btn {
  @media screen and (min-width: 768px) {
    color: var(--first-button-color);
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 40px;
  }
}
