.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-conteiner {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 70px;
}

.header-list {
  display: flex;
}
.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
  position: relative;
  transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  border-radius: 1px;
  position: absolute;
  left: 0;
  bottom: -48px;
}

.header-connect {
  margin-left: auto;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
  transition: color 300ms linear;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--first-button-color);
  margin-left: 40px;
}
